In [1]:
import os
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [2]:
# Reading the dataset with no columns titles and with latin encoding 
df_raw = pd.read_csv('E:/Project 5 credits/Final Project/senti140.csv', encoding = "ISO-8859-1", header=None)

# As the data has no column titles, we will add our own
df_raw.columns = ["label", "id", "date", "query", "username", "tweet"]
df_raw['label'] = df_raw['label'].replace(4,1)

# Show the first 5 rows of the dataframe.
# You can specify the number of rows to be shown as follows: df_raw.head(10)
df_raw.head()

,label,id,date,query,username,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
# Checking the data's output balance
# The label '4' denotes positive sentiment and '0' denotes negative sentiment
df_raw['label'].value_counts()

0    800000
1    800000
Name: label, dtype: int64

In [4]:
# Ommiting every column except for the text and the label, as we won't need any of the other information
df = df_raw[['label','tweet']]
df.head()

   label                                              tweet
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [5]:
# Separating positive and negative rows
df_pos = df[df['label'] == 1]
df_neg = df[df['label'] == 0]
print(len(df_pos), len(df_neg))

800000 800000

In [6]:
df_pos = df_pos.drop_duplicates()

In [7]:
print(len(df_pos))

793506

In [8]:
#As words are in the order of csv files we imported , we have to shuffle the rows & Reindex
df_pos = df_pos.sample(frac=1).reset_index(drop=True)
df_pos.head()

   label                                              tweet
0      1               @gen_rox Okinawa awaits it's Queen.
1      1  thinking about how things happen if you just b...
2      1        @steph_thtgirl15 *sigh* i love him already
3      1      Bidding all a good night, and a happy Sunday
4      1  @cestcassie Aw, that song makes me think of gi...

In [9]:
# Only retaining 1/4th of our data from each output group
# Feel free to alter the dividing factor depending on your workspace
# 1/64 is a good place to start if you're unsure about your machine's power
df_pos = df_pos.iloc[0:100000]
print(len(df_pos))

100000

In [10]:
# Concatinating both positive and negative groups and storing them back into a single dataframe
df = pd.concat([df_pos])
len(df)

100000

In [11]:
export_csv = df.to_csv(r'positive_dataset_final.csv')

In [12]:
positive = pd.read_csv('E:/Project 5 credits/Final Project/positive_dataset_final.csv',  encoding = "ISO-8859-1", header=None)
depressive = pd.read_csv('E:/Project 5 credits/Final Project/labeled depressive tweets.csv',  encoding = "ISO-8859-1", header=None)

In [ ]:

df_row_reindex_new = pd.concat([depressive,positive], ignore_index=True)

df_row_reindex_new.head()

export_csv = df_row_reindex_new.to_csv(r'final_dataset.csv')